.goal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .goal-title{
    font-size: 2rem;
    font-weight: bold;
  }
  .goal-deadline{
    display: flex;
    gap: 1rem;
  }
}
.goal-description{

}
.goal-tasks{
  display: flex;
  flex-direction: column;
  .goal-task{
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px 2rem;
    margin: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    .goal-task-header{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
